{
  extends: ["eslint:recommended"],
  plugins: ["vue"],
  rules: {
    "no-console": 0,
    "semi": 1,
    "no-unused-vars": 1
  },
  env: {
    es6: true,
    node: false,
    browser: true
  },
  parserOptions: {
    sourceType: "module"
  }
}

